* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "NanumSquareRoundLight";
  font-family: "NanumSquareRound";
  font-family: "NanumSquareRoundBold";
  font-family: "NanumSquareRoundExtraBold";
}

.account {
  display: block;
  margin-bottom: 3px;
  padding: 3px;
  border: 1px solid lightgray;
  border-radius: 3px;
}
